.App {
  background: #41295a;
  background: -webkit-linear-gradient(to right, #41295a, #2f0743);
  background: linear-gradient(to right, #41295a, #2f0743);
  width: 100%;
  height: 100%;
  position: absolute;
}

@font-face {
  font-family: "fontWeb";
  src: url("./fonts/Orbitron-VariableFont_wght.ttf") format("truetype");
}

h1 {
  font-family: fontWeb;
}

*:focus {
  outline: none;
}
